
<button (click)="comentar()">Aplicar TAG</button>

<div style="width: 100%; display: table;">
  <div style="display: table-row">
      <div style="width: 200px; display: table-cell;">
        <div *ngFor="let tag of tags2; index as idx" >
          <a href="" (click)="show2($event, tag)">Tag número: {{idx}}- Página: {{tag.page}}</a>
        </div>
      </div>
      <div style="width: 400px; display: table-cell;">
          <h4>Texto Selecionado</h4>
          <span>{{textoSelecionado}}</span>
      </div>
      <div style="height: 700px; display: table-cell;">

        <button (click)="openPdf();">Carregar documento PDF com HTTP GET</button>

        <ng2-pdfjs-viewer
          viewerId="1"
          #pdfViewerOnDemand
          [externalWindow]="false"
          [openFile]="false"
          [viewBookmark]="true"
          (onDocumentLoad)="testPagesLoaded($event)"
          (onPageChange)="testPageChange($event)"
          [download]="false">
        </ng2-pdfjs-viewer>

      </div>
  </div>
</div>






